  <div class="mat-elevation-z3">
      <mat-toolbar class="one-top" color="primary">
        <span class="toolbar-one">จัดการข้อมูลฟอร์ม</span>
        <mat-icon class="toolbar-two">edit_square</mat-icon>
      </mat-toolbar>
  </div>
    
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    
  <mat-card class="card-buttom-one">
    <mat-card-content>
      <div class="row">
        
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>ภาคเรียน</mat-label>
            <mat-select [formControl]="termControl" required>
              <mat-option>--</mat-option>
              <mat-option [value]="1"> ภาคเรียนที่ 1 </mat-option>
              <mat-option [value]="2"> ภาคเรียนที่ 2 </mat-option>
            </mat-select>
            <mat-error *ngIf="termControl.hasError('required')">กรุณาเลือกภาคเรียน</mat-error>
            <mat-hint>ภาคเรียนที่เลือก : {{ selectedTerm }}</mat-hint>
          </mat-form-field>
        </div>

  
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>ปีการศึกษา</mat-label>
            <mat-select [formControl]="yearControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let year of year" [value]="year">{{ year }}</mat-option>
            </mat-select>
            <mat-error *ngIf="termControl.hasError('required')">Please choose an year</mat-error>
            <mat-hint class="year__value"> ปีการศึกษาที่เลือก {{ selectedYear }}</mat-hint>
          </mat-form-field>
        </div>

        <div class="column">
          <div >
            <button class="example-button-row" mat-raised-button color="primary" (click)="handleSearchClick()">ค้นหา</button>
          </div>
        </div>
        <div class="column">
            
        </div>
        <div class="column">
            
        </div>
        
      </div>
      
    </mat-card-content>
  </mat-card>
  
  <mat-card class="card-buttom">
    <mat-card-content>
      <a routerLink="/mnf-first">
        <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
          แบบนิเทศ ติดตาม การเตรียมความพร้อมวันเปิดเรียน
        </button>
      </a>
      <a routerLink="/mnf-spvs">
        <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
          เครื่องมือการนิเทศ
        </button>
      </a>
      <a routerLink="/mnf-tk">
        <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
          เครื่องมือการติดตาม
        </button>
      </a>
    </mat-card-content>
  </mat-card>
    