<mat-nav-list>
  <!-- <div class="profile-card">
    <div class="header">
      <h2>ผู้ใช้งาน : {{ sessionData.name }}</h2>
      <h4>สถานะ : {{ sessionData.status }}</h4>
    </div>
    <div class="profile-card-profile">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
        </div>
  </div> -->

  <ng-template [ngIf]="sessionData.status == ''">
    <a
      mat-list-item
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>home</mat-icon>หน้าหลัก</a
    >
    <a mat-list-item routerLink="/personneldata" routerLinkActive="active">
      <mat-icon>manage_accounts</mat-icon> ข้อมูลบุคลากรกลุ่มนิเทศ ติดตาม</a
    >
  </ng-template>

  <ng-template [ngIf]="sessionData.status == 'admin'">
    <div class="profile-card">
      <div class="header">
        <h2>ผู้ใช้งาน : {{ sessionData.name }}</h2>
        <h4>สถานะ : {{ sessionData.status }}</h4>
      </div>
      <!-- <div class="profile-card-profile">
              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
          </div> -->
    </div>
    <mat-divider></mat-divider>
    <a
      mat-list-item
      routerLink="/homepage-admin"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>widgets</mat-icon>หน้าเมนูหลัก</a
    >
    <a mat-list-item routerLink="/about-personnel" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon> ข้อมูลส่วนตัว</a
    >
    <a mat-list-item routerLink="/manage-users" routerLinkActive="active">
      <mat-icon>manage_accounts</mat-icon> จัดการข้อมูลผู้ใช้งาน</a
    >
    <a mat-list-item routerLink="/manage-personnel" routerLinkActive="active">
      <mat-icon>edit_square</mat-icon> จัดการข้อมูลบุคลากร</a
    >
    <a mat-list-item routerLink="/manage-work-group" routerLinkActive="active">
      <mat-icon>edit_square</mat-icon> จัดการข้อมูลกลุ่มงาน</a
    >
    <a mat-list-item routerLink="/manage-school" routerLinkActive="active">
      <mat-icon>edit_square</mat-icon> จัดการข้อมูลโรงเรียน
    </a>
    <a mat-list-item routerLink="/manage-news" routerLinkActive="active">
      <mat-icon>edit_square</mat-icon> จัดการข่าวประชาสัมพันธ์</a
    >
    <a
      mat-list-item
      routerLink="/manage-summary-report"
      routerLinkActive="active"
    >
      <mat-icon>report</mat-icon> รายงานสรุปผล</a
    >
    <a mat-list-item (click)="logout()">
      <mat-icon>settings_power</mat-icon> ออกจากระบบ
    </a>
  </ng-template>

  <ng-template [ngIf]="sessionData.status == 'personnel'">
    <div class="profile-card">
      <div class="header">
        <h2>ผู้ใช้งาน : {{ sessionData.name }}</h2>
        <h4>สถานะ : {{ sessionData.status }}</h4>
      </div>
      <!-- <div class="profile-card-profile">
        <img
          src="../../../../assets/pngwing.com.png"
          alt=""
        />
      </div> -->
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/about-personnel" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon> ข้อมูลส่วนตัว</a
    >
    <a mat-list-item routerLink="/manage-forms" routerLinkActive="active">
      <mat-icon>edit_square</mat-icon> จัดการข้อมูลแบบฟอร์ม
    </a>
    <a mat-list-item routerLink="/manage-work-group" routerLinkActive="active">
      <mat-icon>groups</mat-icon> ข้อมูลกลุ่มงาน</a
    >
    <a mat-list-item routerLink="/manage-school" routerLinkActive="active">
      <mat-icon>school</mat-icon> ข้อมูลโรงเรียน
    </a>
    <a mat-list-item routerLink="/manage-news" routerLinkActive="active">
      <mat-icon>feed</mat-icon> ข่าวประชาสัมพันธ์</a
    >
    <a
      mat-list-item
      routerLink="/manage-summary-report"
      routerLinkActive="active"
    >
      <mat-icon>report</mat-icon> รายงานสรุปผล</a
    >
    <a mat-list-item (click)="logout()">
      <mat-icon>settings_power</mat-icon> ออกจากระบบ
    </a>
  </ng-template>

  <ng-template [ngIf]="sessionData.status == 'user'">
    <div class="profile-card">
      <div class="header">
        <h2>ผู้ใช้งาน : {{ sessionData.name }}</h2>
        <h4>สถานะ : {{ sessionData.status }}</h4>
      </div>
      <!-- <div class="profile-card-profile">
              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
          </div> -->
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/about" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon> ข้อมูลส่วนตัว</a
    >

    <a mat-list-item routerLink="/manage-forms" routerLinkActive="active">
      <mat-icon>edit_square</mat-icon> แบบฟอร์มการนิเทศติดตาม
    </a>
    <a mat-list-item routerLink="/news" routerLinkActive="active">
      <mat-icon>feed</mat-icon> ข่าวประชาสัมพันธ์</a
    >
    <a
      mat-list-item
      routerLink="/summary-report-user"
      routerLinkActive="active"
    >
      <mat-icon>report</mat-icon> รายงานสรุปผล</a
    >

    <mat-divider></mat-divider>

    <a mat-list-item (click)="logout()">
      <mat-icon>settings_power</mat-icon> ออกจากระบบ
    </a>
  </ng-template>
</mat-nav-list>
