<div class="mat-elevation-z3">
    <mat-toolbar class="one-top" color="primary">
      <span class="toolbar-one">Home Page Admin</span>
      <mat-icon class="toolbar-two">widgets</mat-icon>
    </mat-toolbar>
</div>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<mat-card class="card-buttom">
  <mat-card-content>
    <div class="row">
        <div class="column">
            <a routerLink="/about">
                <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                    ข้อมูลส่วนตัว 
                </button>
            </a>
        </div>
        <div class="column">
            <a routerLink="/manage-users">
                <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                    จัดการข้อมูลผู้ใช้งาน
                </button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <a routerLink="/manage-personnel">
                <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                    จัดการข้อมูลบุคลากร
                </button>
            </a>
        </div>
        <div class="column">
            <a routerLink="/manage-work-group">
                <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                    จัดการข้อมูลกลุ่มงาน
                </button>
            </a>
        </div>
    </div>

    <div class="row">
      <div class="column">
          <a routerLink="/manage-school">
              <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                  จัดการข้อมูลโรงเรียน
              </button>
          </a>
      </div>
      <div class="column">
          <a routerLink="/manage-news">
              <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                  จัดการข่าวประชาสัมพันธ์
              </button>
          </a>
      </div>
    </div>

    <div class="row">
      <div class="column">
          <a routerLink="/manage-summary-report">
              <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                  รายงานสรุปผล
              </button>
          </a>
      </div>
      <div class="column">
          <a routerLink="/manage-forms">
              <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                  จัดการข้อมูลแบบฟอร์ม
              </button>
          </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>