<div class="mat-elevation-z3">
  <mat-toolbar class="one-top" color="primary">
    <span class="toolbar-one">จัดการข้อมูลบุคลากร</span>
    <mat-icon class="toolbar-two">edit_square</mat-icon>
  </mat-toolbar>
</div> 
  
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. School1" #input autocomplete="off">
  </mat-form-field>
  
  <div class="example-button-row">
    <div class="example-button-row-one">
      <button (click)="AddPersonnel()" mat-raised-button color="primary"><mat-icon>add</mat-icon> Add Personnel</button>
    </div>
  </div>
  
  
  <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
    <ng-container matColumnDef="idPersonnel">
      <th mat-header-cell *matHeaderCellDef> รหัสประจำตัว </th>
      <td mat-cell *matCellDef="let element"> {{element.idPersonnel}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef > นามสกุล </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef> กลุ่มงาน </th>
      <td mat-cell *matCellDef="let element"> {{element.group}} </td>
    </ng-container>
  
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef > ตำแหน่ง </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="Email_Personnel">
      <th mat-header-cell *matHeaderCellDef > Email </th>
      <td mat-cell *matCellDef="let element"> {{element.Email_Personnel}} </td>
    </ng-container>

    <ng-container matColumnDef="Tel_Personnel">
      <th mat-header-cell *matHeaderCellDef > Tel </th>
      <td mat-cell *matCellDef="let element"> {{element.Tel_Personnel}} </td>
    </ng-container>

    <ng-container matColumnDef="Address_Personnel">
      <th mat-header-cell *matHeaderCellDef > Address </th>
      <td mat-cell *matCellDef="let element"> {{element.Address_Personnel}} </td>
    </ng-container> -->
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="DetailPersonnel(element.id)" class="btnView" matTooltip="View ">visibility</mat-icon>
        <mat-icon (click)="AddPersonnel(element.id)" class="btnEdit" matTooltip="Edit ">edit_square</mat-icon>
        <mat-icon (click)="deletePersonnel(element.id)" class="btnDelete" matTooltip="Delete ">delete</mat-icon>    
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator class="mat-elevation-z3" [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Select page of users"></mat-paginator>
  
  
    
