<div class="mat-elevation-z3">
    <mat-toolbar class="one-top" color="primary">
      <span mat-dialog-title class="toolbar-one">Detail Personne</span>
      <!-- <mat-icon class="toolbar-two">groups</mat-icon> -->
    </mat-toolbar>
</div>
<br>

<form [formGroup]="form">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Name_News</mat-label>
                    <textarea formControlName="Name_News" matInput placeholder="Add Name_News" autocomplete="off"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Content_News</mat-label>
                    <textarea formControlName="Content_News" matInput placeholder="Add Content_News" autocomplete="off"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>PeopleUpdate_News</mat-label>
                    <input formControlName="PeopleUpdate_News" matInput placeholder="Add PeopleUpdate_News" autocomplete="off">
                </mat-form-field>
            </div>
        
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input formControlName="Date_News" matInput [matDatepicker]="picker" placeholder="Add OpenClass_School" autocomplete="off">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
      <button type="button" (click)="clear()" mat-raised-button color="warn">Cancel</button>
      <button type="submit" mat-raised-button cdkFocusInitial color="primary">Agree</button>
    </mat-dialog-actions>
</form>