/* .example-card {
    max-width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;

  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.one-top {
    margin-bottom: 20px;
} */

mat-form-field {
    width: 100%;

}

.row {
    display: flex;

}

.column {
    flex: 50%;
    margin: 0px 5px; 
}

mat-dialog-actions {
    margin-right: 15px;
    margin-bottom: 10px;
}

.one-top {
    margin-bottom: 20px;
}
  
.toolbar-one {
    margin-right: 15px;
    color: rgb(255, 255, 255);
}
  
.toolbar-two {
    font-size: 30x;
}