<div class="dialog-bottom">
  <mat-icon class="dialog-cursor" (click)="onNoClick()">close</mat-icon>
</div>
<div mat-dialog-content class="dialog-top">
  <span>คุณต้องการออกจากระบบใช่หรือไม่?</span>
  <!-- <p>What's your favorite animal?</p> -->
</div>
<!-- <div mat-dialog-actions class="dialog-bottom"> -->
<div class="btn-position">
  <button
    class="btn-b"
    mat-raised-button
    color="warn"
    mat-button
    id="no-button"
    [mat-dialog-close]="false"
  >
    Cancel
  </button>
  <button
    mat-raised-button
    color="primary"
    mat-button
    id="yes-button"
    cdkFocusInitial
    [mat-dialog-close]="true"
  >
    Ok
  </button>
  <!-- </div> -->
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button cdkFocusInitial>Ok</button> -->
</div>
