<div class="mat-elevation-z3">
  <mat-toolbar class="one-top" color="primary">
    <span class="toolbar-one">จัดการข้อมูลโรงเรียน</span>
    <mat-icon class="toolbar-two">edit_square</mat-icon>
  </mat-toolbar>
</div>
  
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. School1" #input autocomplete="off">
  </mat-form-field>
  
  <div class="example-button-row">
    <div class="example-button-row-one">
      <!-- <a routerLink="/school"> -->
        <button  (click)="AddSchool()" mat-raised-button color="primary"><mat-icon>add</mat-icon> Add School</button>
      <!-- </a> -->
    </div>
  </div>
  
  
  <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="idSchool">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> รหัสโรงเรียน </th>
      <td mat-cell *matCellDef="let element"> {{element.idSchool}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef > โรงเรียน </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- <ng-container matColumnDef="Size_School ">
      <th mat-header-cell *matHeaderCellDef> ขนาดโรงเรียน </th>
      <td mat-cell *matCellDef="let element"> {{element.Size_School}} </td>
    </ng-container> -->
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
          <mat-icon (click)="DetailSchool(element.id)" class="btnView" matTooltip="View ">visibility</mat-icon>
          <mat-icon (click)="AddSchool(element.id)" class="btnEdit" matTooltip="Edit ">edit_square</mat-icon>
          <mat-icon (click)="deleteSchool(element.id)" class="btnDelete" matTooltip="Delete ">delete</mat-icon>    
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator class="mat-elevation-z3" [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Select page of users"></mat-paginator>