<div class="mat-elevation-z3">
  <mat-toolbar class="one-top" color="primary">
    <span class="toolbar-one"
      >แบบนิเทศ ติดตามการดำเนินงานวัดและประเมินผลการศึกษา</span
    >
    <mat-icon class="toolbar-two">groups</mat-icon>
  </mat-toolbar>
</div>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="example-button-row-two">
  <div class="example-button-row">
    <div class="example-button-row-one">
      <a routerLink="/mnf-spvs">
        <button mat-raised-button color="warn">
          <mat-icon>keyboard_return</mat-icon> Blck
        </button>
      </a>
    </div>
  </div>
</div>
<br />

<mat-card class="card-one-b">
  <mat-card-content class="card-one-b">
    <mat-card class="card-one-t">
      <mat-card-content class="card-one-t">{{ section1 }}</mat-card-content>
    </mat-card>
    <mat-card class="card-one-t">
      <mat-card-content class="card-one-t">{{ unit1 }}</mat-card-content>
    </mat-card>
    <mat-card class="card-one-t">
      <mat-card-header class="card-one-t">{{ subUnit1_1 }}</mat-card-header>
      <mat-card-content class="card-one-b">
        <div align="center" style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
          <table style="width:1005;border-collapse:collapse;border:none;">
              <tbody>
                  <tr>
                      <td rowspan="2" style="width:80%;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                          <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>หลักสูตรสถานศึกษาที่ใช้ในการจัดการเรียนการสอน ปีการศึกษา 2565</span></strong></p>
                      </td>
                      <td colspan="2" style="width:20%;border:solid windowtext 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt;">
                          <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>การจัดทำคู่มือวัดและประเมินผล</span></strong></p>
                          <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>ประกอบหลักสูตร</span></strong></p>
                      </td>
                  </tr>
                  <tr>
                      <td style="width:81.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                          <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>ดำเนินการจัดทำ</span></strong></p>
                      </td>
                      <td style="width:76.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                          <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>ไม่ได้ดำเนินการ</span></strong></p>
                      </td>
                  </tr>
                  <tr>
                      <td style="width:289.2pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                          <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>1.<mat-form-field appearance="outline">
                            <mat-label
                              >ชื่อหลักสูตรสถานศึกษาที่ใช้ในการจัดการเรียนการสอน</mat-label
                            >
                            <input matInput autocomplete="off" />
                          </mat-form-field></span></p>
                      </td>
                      <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="1"></mat-radio-button></span></strong></p>
                      </td>
                      <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="0"></mat-radio-button></span></strong></p>
                      </td>
                  </tr>
                  <tr>
                    <td style="width:289.2pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                      <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>2.<mat-form-field appearance="outline">
                        <mat-label
                          >ชื่อหลักสูตรสถานศึกษาที่ใช้ในการจัดการเรียนการสอน</mat-label
                        >
                        <input matInput autocomplete="off" />
                      </mat-form-field></span></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="1"></mat-radio-button></span></strong></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="0"></mat-radio-button></span></strong></p>
                  </td>
                  </tr>
                  <tr>
                    <td style="width:289.2pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                      <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>3.<mat-form-field appearance="outline">
                        <mat-label
                          >ชื่อหลักสูตรสถานศึกษาที่ใช้ในการจัดการเรียนการสอน</mat-label
                        >
                        <input matInput autocomplete="off" />
                      </mat-form-field></span></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="1"></mat-radio-button></span></strong></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="0"></mat-radio-button></span></strong></p>
                  </td>
                  </tr>
                  <tr>
                    <td style="width:289.2pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                      <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>4.<mat-form-field appearance="outline">
                        <mat-label
                          >ชื่อหลักสูตรสถานศึกษาที่ใช้ในการจัดการเรียนการสอน</mat-label
                        >
                        <input matInput autocomplete="off" />
                      </mat-form-field></span></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="1"></mat-radio-button></span></strong></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="0"></mat-radio-button></span></strong></p>
                  </td>
                  </tr>
                  <tr>
                    <td style="width:289.2pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                      <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>5.<mat-form-field appearance="outline">
                        <mat-label
                          >ชื่อหลักสูตรสถานศึกษาที่ใช้ในการจัดการเรียนการสอน</mat-label
                        >
                        <input matInput autocomplete="off" />
                      </mat-form-field></span></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="1"></mat-radio-button></span></strong></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="0"></mat-radio-button></span></strong></p>
                  </td>
                  </tr>
                  <tr>
                    <td style="width:289.2pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                      <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>6.<mat-form-field appearance="outline">
                        <mat-label
                          >ชื่อหลักสูตรสถานศึกษาที่ใช้ในการจัดการเรียนการสอน</mat-label
                        >
                        <input matInput autocomplete="off" />
                      </mat-form-field></span></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="1"></mat-radio-button></span></strong></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="0"></mat-radio-button></span></strong></p>
                  </td>
                  </tr>
                  <tr>
                    <td style="width:289.2pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                      <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>7.<mat-form-field appearance="outline">
                        <mat-label
                          >ชื่อหลักสูตรสถานศึกษาที่ใช้ในการจัดการเรียนการสอน</mat-label
                        >
                        <input matInput autocomplete="off" />
                      </mat-form-field></span></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="1"></mat-radio-button></span></strong></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="0"></mat-radio-button></span></strong></p>
                  </td>
                  </tr>
                  <tr>
                    <td style="width:289.2pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                      <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style='font-size:19px;font-family:"TH SarabunPSK",sans-serif;'>8.<mat-form-field appearance="outline">
                        <mat-label
                          >ชื่อหลักสูตรสถานศึกษาที่ใช้ในการจัดการเรียนการสอน</mat-label
                        >
                        <input matInput autocomplete="off" />
                      </mat-form-field></span></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="1"></mat-radio-button></span></strong></p>
                  </td>
                  <td style="width: 33.9pt;border-top: none;border-left: none;border-bottom: solid black 1pt;border-right: solid black 1pt;padding: 0cm 5.4pt 0cm 5.4pt;height: 83pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif; text-align:center;'><strong><span style='font-size:21px;font-family:"TH SarabunPSK",sans-serif;'><mat-radio-button value="0"></mat-radio-button></span></strong></p>
                  </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <mat-card class="card-one-t">
        <mat-card-header class="card-one-t">{{ subUnit1_2 }}</mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="column">
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button class="ra-one" value="1"
                  >ดำเนินการจัดทำ</mat-radio-button
                >
                <mat-radio-button class="ra-one" value="0"
                  >ไม่ได้ดำเนินการจัดทำ
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-one-t">
        <mat-card-header class="card-one-t">{{ subUnit1_3 }}</mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="column">
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button class="ra-one" value="1"
                  >ต้องการ
                </mat-radio-button>
                <mat-radio-button class="ra-one" value="0"
                  >ไม่ต้องการ
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>เรื่องที่ต้องการ</mat-label>
            <input matInput autocomplete="off" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-one-t">
        <mat-card-header class="card-one-t">{{ subUnit1_4 }}</mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label
              >อธิบายปัญหา/ข้อเสนอแนะ
              ในการดำเนินการวัดและประเมินผลในสถานศึกษา</mat-label
            >
            <input matInput autocomplete="off" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-content class="card-one-b">
    <mat-card class="card-one-t">
      <mat-card-content>{{ unit2 }}</mat-card-content>
    </mat-card>
      <mat-card-content class="card-one-b">
        <mat-card class="card-one-t">
          <mat-card-header class="card-one-t">{{ subUnit2_1 }}</mat-card-header>
          <mat-card-content>
              <mat-card-content class="card-one-t">{{ sub_sub_Unit2_1 }}</mat-card-content>
            <div class="row">
              <div class="column">
                <mat-form-field appearance="outline">
                  <mat-label
                    >ชื่อ-สกุล ครู ผู้ประสานงาน คนที่ 1</mat-label
                  >
                  <input matInput autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="column">
                <mat-form-field appearance="outline">
                  <mat-label
                    >เบอร์โทรศัพท์ คนที่ 1</mat-label
                  >
                  <input matInput autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="column">
                <mat-form-field appearance="outline">
                  <mat-label
                    >ชื่อ-สกุล ครู ผู้ประสานงาน คนที่ 2</mat-label
                  >
                  <input matInput autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="column">
                <mat-form-field appearance="outline">
                  <mat-label
                    >เบอร์โทรศัพท์ คนที่ 2</mat-label
                  >
                  <input matInput autocomplete="off" />
                </mat-form-field>
              </div>
            </div>
            <mat-card-content class="card-one-t">{{ sub_sub_Unit2_2 }}</mat-card-content>
            <div class="row">
              <div class="column">
                <mat-form-field appearance="outline">
                  <mat-label
                    >ชื่อ-สกุล ครู ผู้ประสานงาน คนที่ 1</mat-label
                  >
                  <input matInput autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="column">
                <mat-form-field appearance="outline">
                  <mat-label
                    >เบอร์โทรศัพท์ คนที่ 1</mat-label
                  >
                  <input matInput autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="column">
                <mat-form-field appearance="outline">
                  <mat-label
                    >ชื่อ-สกุล ครู ผู้ประสานงาน คนที่ 2</mat-label
                  >
                  <input matInput autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="column">
                <mat-form-field appearance="outline">
                  <mat-label
                    >เบอร์โทรศัพท์ คนที่ 2</mat-label
                  >
                  <input matInput autocomplete="off" />
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-one-t">
          <mat-card-header class="card-one-t">{{ subUnit2_2 }}</mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="column">
                <mat-form-field appearance="outline">
                  <mat-label
                    >ชื่อ-สกุล ครู ผู้ประสานงาน คนที่ 1</mat-label
                  >
                  <input matInput autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="column">
                <mat-form-field appearance="outline">
                  <mat-label
                    >เบอร์โทรศัพท์ คนที่ 1</mat-label
                  >
                  <input matInput autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="column">
                <mat-form-field appearance="outline">
                  <mat-label
                    >ชื่อ-สกุล ครู ผู้ประสานงาน คนที่ 2</mat-label
                  >
                  <input matInput autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="column">
                <mat-form-field appearance="outline">
                  <mat-label
                    >เบอร์โทรศัพท์ คนที่ 2</mat-label
                  >
                  <input matInput autocomplete="off" />
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
  </mat-card-content>
  <div class="btn-position">
    <a routerLink="/mnf-spvs">
      <button class="btn-b" mat-raised-button color="warn" mat-button>
        Cancel
      </button>
    </a>
    <button mat-raised-button color="primary" mat-button>Save</button>
  </div>
</mat-card>
