<div class="mat-elevation-z3">
    <mat-toolbar class="one-top" color="primary">
      <span mat-dialog-title class="toolbar-one">Detail Personne</span>
      <!-- <mat-icon class="toolbar-two">groups</mat-icon> -->
    </mat-toolbar>
</div>
<br>

<form [formGroup]="form">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput placeholder="Add Username" autocomplete="off">
                </mat-form-field>
            </div>
        
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>LastName</mat-label>
                    <input formControlName="lastname" matInput placeholder="Add Password" autocomplete="off">
                </mat-form-field>
            </div>

            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Person Id</mat-label>
                    <input formControlName="idPersonnel" matInput placeholder="Add Email" autocomplete="off">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Position</mat-label>
                    <mat-select formControlName="position">
                        <mat-option *ngFor="let item of statusPersonnel" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Group</mat-label>
                    <mat-select formControlName="group">
                        <mat-option *ngFor="let item of statusGroup" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>  
        </div>

        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Add Email" autocomplete="off">
                </mat-form-field>
            </div>
        
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Tel</mat-label>
                    <input formControlName="tel" matInput placeholder="Add Password" autocomplete="off">
                </mat-form-field>
            
            </div>
        </div>

        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea formControlName="address" matInput placeholder="Add Email" autocomplete="off"></textarea>
                </mat-form-field>
            </div>
        </div>

    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button type="button" (click)="clear()" mat-raised-button color="warn">Cancel</button>
      </mat-dialog-actions>
</form>