<div class="mat-elevation-z3">
    <mat-toolbar class="one-top" color="primary">
      <span class="toolbar-one">จัดการข้อมูลกลุ่มงาน 2</span>
      <mat-icon class="toolbar-two">groups</mat-icon>
    </mat-toolbar>
</div> 

<div class="example-button-row-two">
    <div class="example-button-row">
        <div class="example-button-row-one">
            <a routerLink="/manage-work-group">
                <button  mat-raised-button color="warn"><mat-icon>keyboard_return</mat-icon> Blck</button>
            </a>
        </div>
    </div>
</div>
<br>