.font {
    font-family: 'Sarabun', sans-serif;
}

.one-top {
    margin-bottom: 20px;
}

.toolbar-one {
    margin-right: 15px;
    color: rgb(255, 255, 255);
}
  
.toolbar-two {
    font-size: 30x;
}

.card-one {
    margin-bottom: 45px;
}

mat-form-field {
    width: 100%;
  
}
  
.row {
    display: flex;
}
  
.column {
    flex: 50%;
    margin: 0px 5px; 
}

.mat-stepper-horizontal {
    margin-top: 8px;
}
  
.mat-mdc-form-field {
    margin-top: 16px;
}

.btn-b {
    margin-right: 10px;
    /* margin-top: 20px; */
}

.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}

.card-one {
    margin-top: 8px;
}

.card-one-t {
    margin-bottom: 8px;
}

.card-one-h {
    margin-bottom: 5px;
    font-size: 16px;
}

.btn-position {
    text-align: right;
    margin-top: 20px;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
}

.card-b {
    margin-bottom: 20px;
}

.ra-one {
    margin-left: 50px;
}

.example-margin {
    margin: 0 12px;
  }


  /* ============================================ */

.tb-h {
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 8pt;
    margin-left: 0cm;
    line-height: 107%;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
}

.tb {
    border-collapse: collapse; 
    border: none;
}

.tb-td {
    width: 100%;
    border: solid windowtext 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
}

.tb-p {
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 0cm;
    margin-left: 0cm;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    text-align: center;
}

.tb-sp {
    font-size: 21px;
    font-family: 'TH SarabunPSK', sans-serif;
}