.one-top {
    margin-bottom: 20px;
}
  
.toolbar-one {
    margin-right: 15px;
    color: rgb(255, 255, 255);
}
  
.toolbar-two {
    font-size: 30x;
}

.example-card {
    max-width: 383px;
    /* max-height: 300px; */
}

.row {
    display: flex;

}

.column {
    flex: 50%;
    margin: 0px 10px; 
    margin-bottom: 40px;
}

.show-one {
    margin-bottom: 20px;
    
}

.btn-one {

    justify-content: end;

}

button.demo-button {
    width: 100%;
    height: 120px;
    margin-bottom: 8px;
    font-size: 18px;
}

.card-buttom {
    margin-bottom: 35px;
    min-height: 520px;
}