<div class="mat-elevation-z3">
    <mat-toolbar class="one-top" color="primary">
      <span class="toolbar-one">จัดการข้อมูลกลุ่มงาน</span>
      <mat-icon class="toolbar-two">edit_square</mat-icon>
    </mat-toolbar>
</div> 

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="show-one">
    <div class="row">
        <div class="column">
              <a routerLink="/manage-work-group-one">
                <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                  กลุ่มงาน 1
                </button>
              </a>  
        </div>
        <div class="column">
          <a routerLink="/manage-work-group-two">
            <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
              กลุ่มงาน 2
            </button>
          </a>  
        </div>
        <div class="column">
          <a routerLink="/manage-work-group-two">
            <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
              กลุ่มงาน 3
            </button>
          </a>  
        </div>
    </div>

    <div class="row">
      <div class="column">
            <a routerLink="/manage-work-group-one">
              <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                กลุ่มงาน 4
              </button>
            </a>  
      </div>
      <div class="column">
        <a routerLink="/manage-work-group-two">
          <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
            กลุ่มงาน 5
          </button>
        </a>  
      </div>
      <div class="column">
        <a routerLink="/manage-work-group-two">
          <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
            กลุ่มงาน 6
          </button>
        </a>  
      </div>
  </div>

  <div class="row">
    <div class="column">
          <a routerLink="/manage-work-group-one">
            <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
              กลุ่มงาน 7
            </button>
          </a>  
    </div>
    <div class="column">
      <a routerLink="/manage-work-group-two">
        <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
          กลุ่มงาน 8
        </button>
      </a>  
    </div>
    <div class="column">
      <a routerLink="/manage-work-group-two">
        <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
          กลุ่มงาน 9
        </button>
      </a>  
    </div>
</div>

</div>