<div class="mat-elevation-z3">
    <mat-toolbar class="one-top" color="primary">
      <span class="toolbar-one">แบบฟอร์มการนิเทศ</span>
      <mat-icon class="toolbar-two">groups</mat-icon>
    </mat-toolbar>
</div>
  
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="example-button-row-two">
    <div class="example-button-row">
        <div class="example-button-row-one">
            <a routerLink="/manage-forms">
                <button  mat-raised-button color="warn"><mat-icon>keyboard_return</mat-icon> Blck</button>
            </a>
        </div>
    </div>
</div>
<br>

<div class="card-buttom">
<!-- <mat-card class="card-buttom"> -->
    <mat-card-content>
        <div class="row">
            <div class="column">
                <a routerLink="/mnf-spvs-first">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                        1. แบบตรวจสอบการพัฒนาหลักสูตรสถานศึกษา: กรอบสาระท้องถิ่นมาตรฐานสากลจุดเน้นการจัดการศึกษาเพื่อการมีงานทำ
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <a routerLink="/mnf-spvs-second">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                        2. แบบตรวสอบการใช้หลักสูตรระดับชั้นเรียน
                    </button>
                </a>
            </div>
        </div>
    
        <div class="row">
            <div class="column">
                <a routerLink="/mnf-spvs-third">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                       3. แบบนิเทศ ติดตามการจัดการเรียนการสอนรายวิชาวิทยาการคำนวณ ออกแบบเทคโนโลยีและรายวิชาเกี่ยวข้องกับหุ่นยนต์
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <a routerLink="/mnf-spvs-fourth">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                        4. แบบนิเทศ ติดตามการขับเคลื่อนการจัดการเรียนรู้ตามแนวคิดสะเต็มศึกษา (STEM Education)
                    </button>
                </a>
            </div>
        </div>
    
        <div class="row">
            <div class="column">
                <a routerLink="/mnf-spvs-fifth">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                        5. แบบนิเทศ ติดตามการนำศาสตร์พระราชาไปใช้ในการจัดการเรียนรู้
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <a routerLink="/mnf-spvs-sixth">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                        6. แบบนิเทศ ติดตามการจัดกิจกรรมการเรียนรู้แบบ Active Learning
                    </button>
                </a>
            </div>
        </div>
    
        <div class="row">
            <div class="column">
                <a routerLink="/mnf-spvs-seventh">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                        7. เแบบนิเทศ ติดตามการขับเคลื่อนกระบวนการ (Professional Learning Community: PLC)
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <a routerLink="/mnf-spvs-eighth">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                        8. แบบนิเทศ ติดตาม การดำเนินงานของโรงเรียนในโครงการโรงเรียนมาตรฐานสากล (World Class Standard School)
                    </button>
                </a>
            </div>
        </div>
    
        <div class="row">
            <div class="column">
                <a routerLink="/mnf-spvs-ninth">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                        9. แบบนิเทศ ติดตามการส่งเสริมนิสัยรักการอ่านและการพัฒนาห้องสมุดโรงเรียน
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <a routerLink="/mnf-spvs-tenth">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                        10. แบบนิเทศ ติดตามและประเมินผลการจัดกิจกรรมโรงเรียนสุจริต
                    </button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <a routerLink="/mnf-spvs-eleventh">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                        11. แบบนิเทศ ติดตามการจัดการขยะและการลดปริมาณขยะในโรงเรียนและชุมชน
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <a routerLink="/mnf-spvs-twelfth">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                        12. แบบนิเทศ ติดตามการดำเนินงานวัดและประเมินผลการศึกษา
                    </button>
                </a>
            </div>
        </div>
    </mat-card-content>
<!-- </mat-card> -->
</div>   