<div class="mat-elevation-z3">
    <mat-toolbar class="one-top" color="primary">
      <span mat-dialog-title mat-dialog-title class="toolbar-one">{{operaction}} User</span>
      <!-- <mat-icon class="toolbar-two">groups</mat-icon> -->
    </mat-toolbar>
</div>
<br>

<form [formGroup]="form" (ngSubmit)="addUser()">
    <mat-dialog-content class="mat-typography">

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput placeholder="กรุณากรอก ชื่อผู้ใช้" autocomplete="off">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Add Password" autocomplete="off">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Add Email" autocomplete="off">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let item of statusUser" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
      <button type="button" (click)="clear()" mat-raised-button color="warn">Cancel</button>
      <button type="submit" mat-raised-button cdkFocusInitial color="primary">Agree</button>
    </mat-dialog-actions>
</form>
