<div class="mat-elevation-z3">
    <mat-toolbar class="one-top" color="primary">
      <span mat-dialog-title class="toolbar-one">รายละเอียด</span>
      <!-- <mat-icon class="toolbar-two">groups</mat-icon> -->
    </mat-toolbar>
</div>
<br>

<form [formGroup]="form">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>School_Id</mat-label>
                    <input formControlName="idSchool" matInput placeholder="Add School_Id" autocomplete="off">
                </mat-form-field>
            </div>
        
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Name_School</mat-label>
                    <input formControlName="name" matInput placeholder="Add Name_School" autocomplete="off">
                </mat-form-field>
            </div>

            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Size_School</mat-label>
                    <mat-select formControlName="size">
                        <mat-option *ngFor="let item of schoolsize" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>District_School</mat-label>
                    <input formControlName="district" matInput placeholder="Add District_School" autocomplete="off">
                </mat-form-field>
            </div>
        
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Email_School</mat-label>
                    <input formControlName="email" matInput placeholder="Add Email_School" autocomplete="off">
                </mat-form-field>
            </div>

            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Tel_School</mat-label>
                    <input formControlName="tel" matInput placeholder="Add Tel_School" autocomplete="off">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Address_School</mat-label>
                    <textarea formControlName="address" matInput placeholder="Add Address_School" autocomplete="off"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Junior_School</mat-label>
                    <input formControlName="junior" matInput placeholder="Add Junior_School" autocomplete="off">
                </mat-form-field>
            </div>
        
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Senior_School</mat-label>
                    <input formControlName="senior" matInput placeholder="Add Senior_School" autocomplete="off">
                </mat-form-field>
            </div>

            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Director_School</mat-label>
                    <input formControlName="director" matInput placeholder="Add Director_School" autocomplete="off">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>NTeacher_School</mat-label>
                    <input formControlName="NTeachenTeacherr_School" matInput placeholder="Add NTeacher_School" autocomplete="off">
                </mat-form-field>
            </div>
        
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>NPersonnelOther_School</mat-label>
                    <input formControlName="nPersonnel" matInput placeholder="Add NPersonnelOther_School" autocomplete="off">
                </mat-form-field>
            </div>

            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>TeachingStyle_School</mat-label>
                    <input formControlName="teachingStyle" matInput placeholder="Add TeachingStyle_School" autocomplete="off">
                </mat-form-field>
            </div>

            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>OpenClass_School</mat-label>
                    <input formControlName="openClass" matInput [matDatepicker]="picker" placeholder="Add OpenClass_School" autocomplete="off">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button type="button" (click)="clear()" mat-raised-button color="warn">Cancel</button>
        <!-- <button type="submit" mat-raised-button cdkFocusInitial color="primary">Agree</button> -->
        <!-- <button [disabled]="form.invalid" type="submit" mat-raised-button cdkFocusInitial color="primary">Add User</button> -->
      </mat-dialog-actions>
</form>
