mat-form-field {
    width: 100%;
  
  }
  
  .row {
    display: flex;
  
  }
  
  .column {
    flex: 50%;
    margin: 0px 5px; 
  }
  
  mat-dialog-actions {
    margin-right: 15px;
    margin-bottom: 10px;
  }
  
  .one-top {
      margin-bottom: 20px;
    }
    
  .toolbar-one {
      margin-right: 5px;
      color: rgb(255, 255, 255);
    }
    
  .toolbar-two {
      font-size: 40x;
    }
  
  .example-button-row {
      display: table-cell;
      max-width: 600px;
    }
    
  .example-button-row-one {
      margin-bottom: 10px;
    }
  
  .example-button-row-two {
    text-align: right;
  }
    