<div class="controllfrom">
    <div class="mat-elevation-z3">
        <div class="form-one">
            <form class="example-form">
                <div class="pikone">
                    <img class="logo" src="../../../assets/logo-login1.png" alt="img login">
                </div>
                <div class="fontsize">
                    <p>Login</p>
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            
                <div class="example-button-row">
                    <button class="example-button-row-one"  aria-label="Show an example snack-bar" mat-raised-button type="button" (click)="login()" color="primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>