<div class="mat-elevation-z3">
  <mat-toolbar class="one-top" color="primary">
    <span class="toolbar-one">ข่าวประชาสัมพันธ์</span>
    <mat-icon class="toolbar-two">feed</mat-icon>
  </mat-toolbar>
</div>

<mat-card class="card-buttom">
    <mat-card-content class="btn-top">
        <div class="row">
            <div class="column">
                <a routerLink="/news-detail">
                    <button mat-raised-button class="demo-button" matTooltip="See more" aria-label="Button that displays a tooltip when focused or hovered over">
                       ข่าวที่ 1
                    </button>
                </a>
            </div>
        </div>
    </mat-card-content>
</mat-card>