.example-spacer {
    flex: 1 1 auto;
  }
  
.one-top {
    margin-bottom: 20px;
}
  
.toolbar-one {
    margin-right: 15px;
}
  
.toolbar-two {
    font-size: 30x;
}

.card-buttom {
    margin-bottom: 35px;
    min-height: 520px;
}

.row {
    display: flex;
}
  
.column {
    flex: 100%;
    margin: 0px 5px; 
}

.example-card {
    max-width: 100%;
    margin-bottom: 8px;
}

.btn-r {
    text-align: right;
    margin-right: 35px;
}

.img-size {
    background-size: 200px;
    size: 250px;
}

.btn-top {
    margin-top: 20px;
}

.btn-text {
    font-size: 14px;
}

mat-form-field {
    width: 100%;
}

.btn-position {
    margin-bottom: 20px;
    margin-right: 15px;
    text-align: right;
}

.btn-b {
    margin-right: 20px;
}

button.demo-button {
    width: 100%;
    height: 150px;
    margin-bottom: 8px;
    font-size: 18px;
}